/* YellowTail Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*,::after,::before {
    margin: 0;
    padding: 0;
}

:root {

    /* COLORS */ 

    --cream :#FFFDD0;
    --emeraldEntrance : #b68d40;
    --kaki : #6B8E23;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Yellowtail';
    overflow-x: hidden;
}



.box {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-image: url(unnamed.jpg);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background-size: cover;
    position:relative;
    z-index: 999;
    cursor: pointer;
}

.box:hover {
    animation : rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(-1turn);
    }

    to {
        transform:rotate(0);
    }
}


.box {
    display: block;

}

h1 {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px black;
    padding:.1em 1em;
    z-index: 2;
    cursor: pointer;
    color:white;
    font-size: 1em;
    text-align: center;
}


section{
    position: absolute;
    top:0;
    padding-inline: 1em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    width: 100%;
    z-index: 99999999999;
}

a:visited {
    color:black;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 2em;
}



#kumo{
    color:var(--emeraldEntrance);
}

#konoha {
    color:var(--kaki);
}



#kumo:visited {
    color:var(--emeraldEntrance);
}

#konoha:visited{
    color:var(--kaki);
}

#suna{
    color:#ead80b;
}

#suna:visited{
    color:#ead80b;
}
#create {
    color: #1291e5;
}

#create:visited{
    color: #1291e5;
}
nav{
    display: flex;
    gap:9em;
    justify-content: center;
    font-size: 2em;
    line-height: 70px;
}





.container {
    display: flex;
    gap:2em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top:23em;
    align-items: center;
    padding-bottom: 5em;
}

#back{
    display: block;
    position: absolute;
    top:2.2em;
    left:23em;
    cursor: pointer;
    z-index: 99999;
}


#back:visited{
    color: black;
}

.fa-solid {
    font-size: 3em;
    padding: 1em;
}
.fa-solid:hover{

    animation : moveToLeft ease-in 700ms
}


@keyframes moveToLeft {
    
    from {
        position: relative;
        right: 0px;
    }
    
    to {
        position: relative;
        right: 12px;
    }
}
